<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/styleregister.css" type="text/css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=IM+Fell+DW+Pica:ital@0;1&display=swap" rel="stylesheet">
    <link rel = "icon" href="../imagenes/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrer Pulse</title>
</head>
<body>
    <header class="header">
        <h1>Carrer Pulse</h1>
    </header>
    <article class="body">
   
        <div class="register">
            <h2>Regístro a continuación</h2>
            <div class="formulario_registro"> 
                <form class="register_in" action="/auth" method="POST">

                <p class="doc_type" id="doc_type"> Tipo de documento</p>
                <select class="doc_type" name="doc_type">
                    <option value="select">Seleccione acá</option>
                    <option value="ti">Tarjeta de identidad</option>
                    <option value="cc">cédula</option>
                    <option value="nit">Nit</option>
                </select>
                <p class="id_num_user">Número de documento</p>
                <input type="number" placeholder="Número de documento" name="num_doc">
                <p class="name_user" id="name_user"> Nombres</p>
                <input type="text" placeholder="Nombres" name="name_user">
                <p class="lastname_user"id="lastname_user"> Apellidos</p>
                <input type="text" placeholder="Apellidos" name="lastname_user">
                <p class="user_rol" id="user_rol"> Indique la opción correcta</p>
                <select class="rol" name="rol_user">
                    <option value="select">Seleccione acá</option>
                    <option value="company">Empresa reclutadora</option>
                    <option value="student">Estudiante</option>
                </select>                
                <p class="email_user" id="email_user"> Correo electrónico</p>
                <input type="email" placeholder="Correo electrónico" name="email_user">
                <p class="pass" id="pass"> Contraseña</p>
                <input type="password" placeholder="Contraseña" name="pass">
                <p class="city_user" id="city_user"> Ciudad</p>
                <select class="city" name="city_user">
                    <option value="select">Seleccione acá</option>
                    <option value="bog">Bogotá</option>
                    <option value="ned">Medellin</option>
                    <option value="cal">Cali</option>
                    <option value="brq">Barranquilla</option>
                </select>
                <input type="submit" value="Registrar"class="button">
                <div id="error-message" style="color: red;"></div>
            </form>
            </div>
            <div class="login"> 
                <img src="imagenes/login.jpg" alt=""></img>
            </div>
        </div>

    </article>
    <footer class="footer">
        <div class="info_footer">
            <p class=""> Carrer Pulse  - @ Todos los derechos reservados</p>
        </div>
    </footer>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text : '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer : '<%= timer %>',
            }).then(() => {
                window.location.href = '/<%= ruta %>';
            });
            
        </script>
    <% } %> -->
    <% if (typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text : '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: '<%= showConfirmButton %>',
            timer : '<%= timer %>',
        }).then(() => {
            window.location.href = '/<%= ruta %>';
        });
    </script>
<% } %>
<% if (typeof alertMessage != "undefined") { %>
    <script>
        alert('<%= alertMessage %>');
    </script>
<% } %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>