<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/styleStudent.css" type="text/css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=IM+Fell+DW+Pica:ital@0;1&display=swap" rel="stylesheet">
    <link rel = "icon" href="/resources/imagenes/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrer Pulse</title>
</head>
<body>
    <header id="header" class="header">
        <div class="logo">
            <img src="/resources/imagenes/logo.png" alt=""></img>
            <h1>Carrer Pulse</h1>
        </div>
        <nav id="nav" class="" id="nav">
        <a href="#profile"class="" title="">Perfil</a>
        <a href="#study" class="" title="">Estudios</a>
        <a href="/logout" class="" title="">Cerrar sesión</a>
    </nav>
    </header>
    <article id="cuerpo">
        <div class="porfile" id=""> 
            <h2>Bienvenido</h2>
            <p>Datos personales</p>
        </div>
        <div class="info" id="profile">
            <% if (user) { %>
                <p>Tipo de documento</p>    
                <p>Número de documento</p>
                <p class="registro_in"><%= user.doc_type %></p>
                <p class="registro_in"><%= user.id_num_user %></p>
                <p>Nombres</p>
                <p>Apellidos</p>
                <p class="registro_in"><%= user.name_user %></p>
                <p class="registro_in"><%= user.lastname_user %></p>
                <p>Correo electrónico</p>
                <p>Ciudad</p>
                
                <p class="registro_in"><%= user.email_user %></p>
                <p class="registro_in"><%= user.city_user %></p>
                <% } else { %>
                    <p>No se pudo encontrar la información del usuario.</p>
                <% } %>
        </div>
        <div class="modificar" >
            <button class="button" href = "/editStudent">Modificar</button>
        </div>
        <div class="info_estudio" id="study">
            <h2>Registre los datos de estudio</h2>
            <form class="register_school">
                <p class=""> Nombre de Universidad</p>
                <input type="nom_uni" placeholder="Nombre de Universidad">
                <p class=""> país de Universidad</p>
                <select class="city_u" name="city_u">
                    <option value="select">Seleccione acá</option>
                    <option value="col">Colombia</option>
                    <option value="esp">España</option>
                </select>
                <p class=""> Tipo de Universidad</p>
                <select class="type_u" name="type_u">
                    <option value="select">Seleccione acá</option>
                    <option value="col">Instituciones Técnicas Profesionales</option>
                    <option value="esp">Instituciones Tecnológicas</option>
                    <option value="esp">Instituciones Universitarias o Escuelas Tecnológicas</option>
                    <option value="esp">Universidades</option>
                </select>
                <p class=""> Seleccione la carrera de grado</p>
                <select class="carrer" name="Carrer">
                    <option value="select">Seleccione acá</option>
                    <option value="arq">Arquitectura</option>
                    <option value="der">Derecho</option>
                    <option value="com">Comunicación</option>
                    <option value="cont">Contaduria</option>
                    <option value="admon">Administración</option>
                    <option value="mkt">Marketing</option>
                    <option value="stw">Ingeniería de software</option>
                </select>
                <p class=""> Indique las palabras clave o skills del conocimiento adquirido</p>
                <input type="nom_uni" placeholder="Palabra clave">
                </input>
                <p class=""> Ingresa a continuación tu CV</p>
                <input type="file" id="archivo" name="archivo" accept=".html, .pdf, .docx">
            <div>
             <input type="submit" value="Registrar" class="button">
            </div>
            </form>
        </div>
        <!--
        <div class="activate"> 
            <h3>Activar tu perfil</h3>
            <p class=""> Una vez hayas ingresado tu perfil, puedes activar el siguiete botón para que las empresas puedan ver tu perfil</p>
            <input type="button" value="Activar mi perfil">
        </div>
        <div class="shortlist"> 
            <p class=""> De acuerdo a tus palabras clave, tu perfil se adapta a las siguientes empresas</p>
            <table class="shoertlist">
                <thead>
                    <tr>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Empesa Uno</td>
                    </tr>
                    <tr>
                        <td>Empesa Dos</td>
                    </tr>
                    <tr>
                        <td>Empesa Tres</td>
                    </tr>
                    <tr>
                        <td>Empesa Cuatro</td>
                    </tr>
                    <tr>
                        <td>Empesa Cinco</td>
                    </tr>
            </table>
        </div>

    <div class="chat-container">
        <label for="active_chat">Desactivar el chat:</label>
        <input type="checkbox" id="active_chat" name="active_chat">
        <div class="chat">
            <div id="chat-box">
                <div id="chat-messages"></div>
                <div id="input-container">
                    <input type="text" id="mensaje" placeholder="Escribe tu mensaje...">
                    <button class="button" onclick="enviarMensaje()">Enviar</button>
                </div>
            </div>
        </div>
    </div>-->
    </article>
    <footer class="footer">
        <div class="info_footer">
            <p class=""> Carrer Pulse  - @ Todos los derechos reservados</p>
    </footer>
</body>
</html>